<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional theme -->
</head>
<style>
    h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 42px;
    }
</style>

<body>
    <div class="jumbotron" style="color:black">

        <h1 style="color:black; ">
            Get The latest news on MKM-Website
        </h1>

    </div>


    <div class="container">
        {% for new, des, i, ur in mylist %}
        <h2>* News :- </h2>
        <img width="1000" height="400" src="{{ i }}" alt="image-not-found">
        <h3>• {{ new }} {{ value|linebreaks }}</h3>
        <a href="">• {{ ur }}</a>
        <h4><b>• Description :- </b></h4>
        <p><b>=> </b>{{ des }} {{ value|linebreaks }}</p>
        {% endfor %}
        <br>
    </div>

</body>

</html>